<% @page_title= "Pages" %>
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="Page edit">
  <h2>update Page</h2>

  <%= form_for(:page, :url => {:action => 'update', :id => @page.id}) do |f| %>

      <%= render(:partial => "form", :locals => {:f => f}) %>

      <div class="form-buttons">
        <%= submit_tag("Update page") %>
      </div>

  <% end %>
</div>