<% @page_title= "Pages" %>
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="Page new">
  <h2>New Page</h2>

  <%= form_for(:page, :url => {:action => 'create' })  do |f| %>
      <%= render(:partial => "form", :locals => {:f => f}) %>
      <div class="form-buttons">
        <%= submit_tag("Create page") %>
      </div>

  <% end %>
</div>